.heading {
    &--h1 {
        color: $color-white;
        font-size: 6rem;

        @include medium {
            font-size: 8rem;
        }

        @include large {
            font-size: 10rem;
        }
    }

    &--h2 {
        text-align: center;
        width: 100%;
        font-size: 5rem;
    }
}