.col {
    width: 100%;
    padding: 0 $gutter $gutter $gutter;
    
    &--md25 {
        @include medium {
            flex: 0 0 25%;
            //dla IE
            max-width: 25%;
        }
    }

    &--md33 {
        @include medium {
            flex: 0 0 33.3333333%;
            //dla IE
            max-width: 33.3333333%;
        }
    }

    &--md50 {
        @include medium {
            flex: 0 0 50%;
            //dla IE
            max-width: 50%;
        }
    }

    &--lg25 {
        @include large {
            flex: 0 0 25%;
            //dla IE
            max-width: 25%;
        }
    }

    &--lg33 {
        @include large {
            flex: 0 0 33.3333333%;
            //dla IE
            max-width: 33.3333333%;
        }
    }

    &--lg50 {
        @include large {
            flex: 0 0 50%;
            //dla IE
            max-width: 50%;
        }
    }
}